name: CI

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to build/test"
        required: false
        type: string

env:
  FRIDA_CORE_OPTIONS: '--with-devkits=core --enable-tests'

jobs:
  cross:
    strategy:
      matrix:
        include:
          - { id: windows-x86_64-mingw, opts: '--host=x86_64-w64-mingw32 --without-prebuilds=sdk:host', pkg: g++-mingw-w64-x86-64        }
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install toolchain
        run: |
          sudo apt-get update
          sudo apt-get install ${{ matrix.pkg }}
      - name: Install Go toolchain
        uses: actions/setup-go@v5
        with:
          go-version-file: 'src/compiler/go.mod'
          cache-dependency-path: 'src/compiler/go.mod'
      - name: Build
        run: |
          ./configure \
              ${{ matrix.opts }} \
              ${{ !contains(matrix.id, 'mips') && '--enable-compiler-backend' || '' }} \
              ${{ env.FRIDA_CORE_OPTIONS }}
          make
      - name: Upload devkit
        if: ${{ !startsWith(matrix.id, 'linux-') }}
        uses: actions/upload-artifact@v4
        with:
          name: core-devkit-${{ matrix.id }}
          path: build/src/devkit/
  # This job is used to check that the Linux helpers are built correctly for all
  # supported architectures. We do this because the binary artifacts are checked
  # in, and we want to ensure that they are up-to-date with respect to the source
  # for all architectures.
  check-linux-helpers:
    strategy:
      matrix:
        arch: [x86, x86_64, arm, armbe8, arm64, arm64be, arm64beilp32, mips, mipsel, mips64, mips64el]
      fail-fast: false
    runs-on: ubuntu-latest
    container: ghcr.io/frida/core-linux-helpers-${{ matrix.arch }}:latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build
        run: |
          ./src/linux/helpers/rebuild.sh ${{ matrix.arch }}
      - name: Check for unexpected changes
        run: |
          git config --global --add safe.directory "$(realpath .)"
          status_output=$(git status --porcelain tests/labrats/{resident-agent,simple-agent}-linux-${{ matrix.arch }}.so tests/labrats/{forker,sleeper,spawner}-linux-${{ matrix.arch }})
          if [ -n "$status_output" ]; then
            echo "Unexpected changes detected:"
            echo "$status_output"
            echo "Diff:"
            git diff
            exit 1
          else
            echo "No unexpected changes detected."
          fi
  # This job is used to check that the Linux labrats are built correctly for all
  # supported architectures. We do this because the binary artifacts are checked
  # in, and we want to ensure that they are up-to-date with respect to the source
  # for all architectures.
  check-labrats:
    strategy:
      matrix:
        arch: [x86, x86_64, arm, armbe8, arm64, arm64be, arm64beilp32, mips, mipsel, mips64, mips64el]
      fail-fast: false
    runs-on: ubuntu-latest
    container: ghcr.io/frida/core-linux-helpers-${{ matrix.arch }}:latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build
        run: |
          ./tests/labrats/rebuild.sh ${{ matrix.arch }}
      - name: Check for unexpected changes
        run: |
          git config --global --add safe.directory "$(realpath .)"
          status_output=$(git status --porcelain src/linux/helpers/{bootstrapper,loader}-${{ matrix.arch }}.bin)
          if [ -n "$status_output" ]; then
            echo "Unexpected changes detected:"
            echo "$status_output"
            echo "Diff:"
            git diff
            exit 1
          else
            echo "No unexpected changes detected."
          fi
